<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907625414351-u3vbc8gefp72elpgjpa97kiaeqciua2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907625414351-u3vbc8gefp72elpgjpa97kiaeqciua2g</string>
	<key>API_KEY</key>
	<string>AIzaSyAC8z-RIgkaNFXM8IlrzdakiBDSlfAWcx0</string>
	<key>GCM_SENDER_ID</key>
	<string>907625414351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.woodie.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>woodie-2fc15</string>
	<key>STORAGE_BUCKET</key>
	<string>woodie-2fc15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907625414351:ios:a44f47a7b968bf7ea481ba</string>
</dict>
</plist>